*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    position: relative;
    font-family: helvetica;
}

   @font-face {
    src: url(fontovi/Dosis-VariableFont_wght.ttf);
    font-family: ryzen;
}

.content {
    z-index: 5;
}

 .bgd {
        
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: space-evenly;
        width: 100vw;
        height: 120vh;
        color: white;
        text-shadow: 0px 0px 7px white;
        
    }

    
    .bgd-slika {
        
        z-index: -2;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url(Slike/pozadina5.jpg);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
        filter: brightness(8%);
    }


    /* -----lista------ */
    
    .lista {
        
        padding: 1rem;
        width: 90vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 3rem;
        
    }
    
    .lista .element .btn {
        
        padding: 1rem;
        height: 100%;
        color: white;
        display: block;
        text-decoration: none;
        transition: 0.2s  ease-in;
    }
    
    .lista .element {
        font-size: 1.5rem;
        font-family: helvetica;
        padding: 0 1rem;
        height: 100%;
        width: 25%;
        display: flex;
        flex-direction: column;  
        align-items: center;
        justify-content: center;
        text-align: center;
        
    }
       
    .btn img {  
        width: 100%;
        height: 90%;
        margin-bottom: 1rem;
    }    
    
    .lista .element .btn:hover {
        border-radius: 10px;
        transform: scale(1.1) ;
        box-shadow: 0px 0px 20px rgb(235, 231, 173);
        text-shadow: 0px 0px 30px  rgb(239, 255, 18);
    
    }
    
    .img-draken {
        filter: brightness(20%);
        transition: 0.2s ease-in-out;
    }

    /* ---nav--- */
    nav {
        
        z-index: 10;
        position: sticky;
        width: 100vw;
        top: 0;
        
    }
    
    nav ul {
        
        list-style: none;
        display: flex;    
    }
    
    nav ul li {
        margin: 2rem 3rem;
        font-family: ryzen;
        font-weight: 600;
        font-size: 2rem;
        position: relative;
        text-shadow: 0 0 10px rgb(255, 255, 255);
    }
    
    nav ul li a {
        
        text-decoration: none;
        color: white;
    }
    
    /* ----dropmenu----- */
    
    .dropmenu {
        z-index: 0;
        position: absolute;
        margin-top: 0.4rem;
        margin-left: -3.3rem;
        display: flex;
        width: 160%;
        flex-direction: column;
        visibility: hidden;
        background-color: rgba(0, 0, 0, 1);
        justify-content: center;
        align-items: center;
        padding-bottom: 2rem;
        border-radius: 7px;
        
    
    }
    
    .dropmenu li a {
        margin: 0.2rem;
        padding: 0.5rem;
        color: white;
        text-shadow: 0 0 10px rgb(255, 255, 255);
    }
    
    .dropmenu li {
        margin: 2rem 0 0 0;    
    }
    
    .dugme2 a  {
        
        color: black ;
        background-color: white ;    
    }

    .dropmenu li a{
        background-color: black;
    }
    
    .dugme2 {       
        padding: 0;
    }
    
    .dugme2:hover .dropmenu {
        visibility: visible;    
    }
    
    .dropmenu li a:hover {
        color: black;
        font-size: 1.7rem;
    }
    
    .dropmenu li a:hover, nav ul li a:hover {
        color: black;
        background-color: white;
        transition: 0.2s ease;
    }
    
     nav ul li a, .dropmenu li a {
        padding: 0.5rem;
        border-radius: 10px;
        text-shadow: 0px 0px 7px white;
    }


.content{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.naslov {

    text-align: center;   
}

.naslov1 h1{
    margin: 0 0 10% 0;
    text-align: center;
    font-size: 5rem;
    font-family: ryzen;
}

::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Track */
::-webkit-scrollbar-track {
    background: black;
  }
  
  /* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255);
    border-radius: 50px;

  }
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(47, 47, 47);
    transition: 0.2s ease;
    box-shadow: 0 0 5px white;
    border-radius: 50px;
}
